.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
scratch.R
images/Fig *.pdf
images/Fig *.tiff
code/stan_utility.R
*.rds
*.docx
!officedown_template.docx
data/*.gpkg
data/lsc_rain_hourly.rda
data/sim_set_mod*.rda
code/S5_map.R
code/sim_set_vary_map2stan.R

