.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
scratch.R
images/Fig *.pdf
images/Fig 2.png
code/stan_utility.R
*.rds
*.docx
!officedown_template.docx
data/*.gpkg
data/lsc_rain_hourly.rda
data/sim_set_mod*.rda

